body{
    background-color: cornsilk;
}

form{
    display: flex;
    flex-direction: column;
}   
.listing-img{
  width: 20vw;
}
li{
    list-style: none;
    text-align: center;
}
ul{
    margin: 0px;
    padding: 0px;
}
.action{
    display: flex;
    flex-direction: column;

}
#edit-button{
    width: 90vs
}